# Build folders
Build/
build/
xcode/
VisualStudio*/
JuceLibraryCode/

# IDE stuff
*.user
*.sdf
*.opensdf
*.vcxproj*
*.csproj
*.sln
*.pbxproj
*.xcworkspace
*.idea/
*.vscode/

# Compiled binaries
*.o
*.obj
*.a
*.so
*.dylib
*.dll
*.exe

# System junk
.DS_Store
Thumbs.db
*.log

# Except the final VST3 build
!Builds/MacOSX/build/Debug/TransportSenderV1.vst3
